In [51]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import pprint
from census import Census
from us import states

import gmaps

from api_key import g_key
g_key
gmaps.configure(api_key=g_key)
#import os as os
# Census API Key
print(os.getcwd())
#os.chdir(C:\Users\alana\OneDrive\Desktop\GitHub\Group_Project1)
#from api_key import api_key
from api_key import Census_Key 
Census_Key 
#api_key import Census_Key
#c = Census(api_key, year=2013)

c = Census(Census_Key, year=2017)

C:\Users\alana\OneDrive\Desktop\GitHub\Group_Project1

In [53]:
census_data = c.acs5.get(("NAME", "B19013_001E", "B01003_001E", "B01002_001E",
                          "B19301_001E",
                          "B17001_002E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
census_df = pd.DataFrame(census_data)

# Column Reordering
census_rn = census_df.rename(columns={"B01003_001E": "Population",
                                      "B01002_001E": "Median Age",
                                      "B19013_001E": "Household Income",
                                      "B19301_001E": "Per Capita Income",
                                      "B17001_002E": "Poverty Count",
                                      "NAME": "Name", 
                                      "zip code tabulation area": "ZIP"})

In [54]:
census_rn.head()
#census_rn.loc[(census_rn["ZIP"] == "19132"), :]

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,ZIP
0,ZCTA5 00601,11757.0,17599.0,38.9,7041.0,11282.0,00601
1,ZCTA5 00602,16190.0,39209.0,40.9,8978.0,20428.0,00602
2,ZCTA5 00603,16645.0,50135.0,40.4,10897.0,25176.0,00603
3,ZCTA5 00606,13387.0,6304.0,42.8,5960.0,4092.0,00606
4,ZCTA5 00610,18741.0,27590.0,41.4,9266.0,12553.0,00610

In [55]:
census_rn.dtypes

Name                  object
Household Income     float64
Population           float64
Median Age           float64
Per Capita Income    float64
Poverty Count        float64
ZIP                   object
dtype: object

In [56]:
census_rn['ZIP'] = census_rn['ZIP'].astype(float)

In [57]:
census_rn.head()

,Name,Household Income,Population,Median Age,Per Capita Income,Poverty Count,ZIP
0,ZCTA5 00601,11757.0,17599.0,38.9,7041.0,11282.0,601.0
1,ZCTA5 00602,16190.0,39209.0,40.9,8978.0,20428.0,602.0
2,ZCTA5 00603,16645.0,50135.0,40.4,10897.0,25176.0,603.0
3,ZCTA5 00606,13387.0,6304.0,42.8,5960.0,4092.0,606.0
4,ZCTA5 00610,18741.0,27590.0,41.4,9266.0,12553.0,610.0

In [58]:
clean_311_zip.dtypes

CREATED_ON              object
CREATE_DATE             object
REQUEST_TYPE            object
REQUEST_ORIGIN          object
DEPARTMENT              object
NEIGHBORHOOD            object
X                      float64
Y                      float64
location                object
ZIP                      int64
Household Income_x       int64
Population_x             int64
Median Age_x           float64
Per Capita Income_x      int64
Poverty Count_x          int64
Name_x                  object
Household Income_y     float64
Population_y           float64
Median Age_y           float64
Per Capita Income_y    float64
Poverty Count_y        float64
Poverty Rate           float64
Name_y                  object
Household Income       float64
Population             float64
Median Age             float64
Per Capita Income      float64
Poverty Count          float64
dtype: object

In [59]:
merge_311_census = pd.merge(clean_311_zip, census_rn, on="ZIP")
#no need to run file was alreay created, it will error due to Manaully inserting the date

In [60]:
merge_311_census

,CREATED_ON,CREATE_DATE,REQUEST_TYPE,REQUEST_ORIGIN,DEPARTMENT,NEIGHBORHOOD,X,Y,location,ZIP,...,Population_x,Median Age_x,Per Capita Income_x,Poverty Count_x,Name,Household Income_y,Population_y,Median Age_y,Per Capita Income_y,Poverty Count_y
0,2015-04-20T08:38:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.015178,40.392419,"40.3924186,-80.01517829999999",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0
1,2015-04-20T08:42:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.018696,40.400007,"40.4000074,-80.0186958",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0
2,2015-04-20T08:43:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.016089,40.399618,"40.399617799999994,-80.01608940000001",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0
3,2015-04-20T09:15:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.007267,40.383212,"40.3832124,-80.0072673",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0
4,2015-04-20T09:16:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.009981,40.384611,"40.3846107,-80.0099811",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22408,2018-01-30T16:28:00,2018-01,Potholes,Call Center,DPW - Street Maintenance,Squirrel Hill South,-79.925185,40.423677,"40.42367720000001,-79.9251852",15207,...,12075.0,40.1,25058.0,2221.0,ZCTA5 15207,44894.0,12075.0,40.1,25058.0,2221.0
22409,2018-02-02T15:36:00,2018-02,Potholes,Call Center,DPW - Street Maintenance,Squirrel Hill South,-79.925185,40.423677,"40.42367720000001,-79.9251852",15207,...,12075.0,40.1,25058.0,2221.0,ZCTA5 15207,44894.0,12075.0,40.1,25058.0,2221.0
22410,2019-02-11T09:14:00,2019-02,Snow/Ice removal,Call Center,DPW - Street Maintenance,Squirrel Hill South,-79.949334,40.428703,"40.42870294,-79.94933354",15207,...,12075.0,40.1,25058.0,2221.0,ZCTA5 15207,44894.0,12075.0,40.1,25058.0,2221.0
22411,2018-02-23T16:03:00,2018-02,Potholes,Call Center,DPW - Street Maintenance,South Side Slopes,-79.975504,40.424848,"40.42484843,-79.97550428",15209,...,12225.0,47.0,33908.0,1456.0,ZCTA5 15209,55248.0,12225.0,47.0,33908.0,1456.0
22412,2018-02-23T16:09:00,2018-02,Potholes,Call Center,DPW - Street Maintenance,South Side Slopes,-79.975670,40.424881,"40.4248808,-79.97567049999999",15209,...,12225.0,47.0,33908.0,1456.0,ZCTA5 15209,55248.0,12225.0,47.0,33908.0,1456.0

In [61]:
#print(len(weather_df))
#saves to CSV file
merge_311_census.to_csv("final_311_census.csv", index=False, header=True)

In [62]:
merge_311_census.head()

,CREATED_ON,CREATE_DATE,REQUEST_TYPE,REQUEST_ORIGIN,DEPARTMENT,NEIGHBORHOOD,X,Y,location,ZIP,...,Population_x,Median Age_x,Per Capita Income_x,Poverty Count_x,Name,Household Income_y,Population_y,Median Age_y,Per Capita Income_y,Poverty Count_y
0,2015-04-20T08:38:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.015178,40.392419,"40.3924186,-80.01517829999999",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0
1,2015-04-20T08:42:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.018696,40.400007,"40.4000074,-80.0186958",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0
2,2015-04-20T08:43:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.016089,40.399618,"40.399617799999994,-80.01608940000001",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0
3,2015-04-20T09:15:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.007267,40.383212,"40.3832124,-80.0072673",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0
4,2015-04-20T09:16:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.009981,40.384611,"40.3846107,-80.0099811",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0

In [63]:
#Reads CSV file
clean_311_zip = pd.read_csv("final_311_census.csv", encoding="utf-8")
clean_311_zip.head()
#clean_311_zip.dtypes

,CREATED_ON,CREATE_DATE,REQUEST_TYPE,REQUEST_ORIGIN,DEPARTMENT,NEIGHBORHOOD,X,Y,location,ZIP,...,Population_x.1,Median Age_x.1,Per Capita Income_x.1,Poverty Count_x.1,Name,Household Income_y.1,Population_y.1,Median Age_y.1,Per Capita Income_y.1,Poverty Count_y.1
0,2015-04-20T08:38:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.015178,40.392419,"40.3924186,-80.01517829999999",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0
1,2015-04-20T08:42:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.018696,40.400007,"40.4000074,-80.0186958",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0
2,2015-04-20T08:43:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.016089,40.399618,"40.399617799999994,-80.01608940000001",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0
3,2015-04-20T09:15:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.007267,40.383212,"40.3832124,-80.0072673",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0
4,2015-04-20T09:16:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.009981,40.384611,"40.3846107,-80.0099811",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0

In [64]:
# Add in Poverty Rate (Poverty Count / Population), forgot to add on orginal file
clean_311_zip["Poverty Rate"] = 100 * \
    clean_311_zip["Poverty Count_x"].astype(
        int) / clean_311_zip["Population_y"].astype(int)

clean_311_zip.head()

,CREATED_ON,CREATE_DATE,REQUEST_TYPE,REQUEST_ORIGIN,DEPARTMENT,NEIGHBORHOOD,X,Y,location,ZIP,...,Population_x.1,Median Age_x.1,Per Capita Income_x.1,Poverty Count_x.1,Name,Household Income_y.1,Population_y.1,Median Age_y.1,Per Capita Income_y.1,Poverty Count_y.1
0,2015-04-20T08:38:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.015178,40.392419,"40.3924186,-80.01517829999999",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0
1,2015-04-20T08:42:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.018696,40.400007,"40.4000074,-80.0186958",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0
2,2015-04-20T08:43:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.016089,40.399618,"40.399617799999994,-80.01608940000001",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0
3,2015-04-20T09:15:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.007267,40.383212,"40.3832124,-80.0072673",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0
4,2015-04-20T09:16:00,2015-04,Potholes,Call Center,DPW - Street Maintenance,Brookline,-80.009981,40.384611,"40.3846107,-80.0099811",15226,...,13632.0,39.5,29870.0,1329.0,ZCTA5 15226,54441.0,13632.0,39.5,29870.0,1329.0